@import "bootstrap";

.clear {
  clear: both;
}

h1 {
  font-family: 'fira_sansextrabold', sans-serif;
  font-size: 48px;
}

h4 {
  font-family: 'fira_sansextrabold_italic', sans-serif;
  font-size: 18px;
}

.links, a:hover, a:link, a:visited, a:active {
  font-family: 'fira_sansextrabold_italic', sans-serif;
  font-size: 18px;
  color: black;
  text-decoration: none;
}